body{
    font-family: 'Lora', serif;
}
h1{
    color:ghostwhite;
    font-family: 'Unbounded', cursive;
    text-align: center;
    font-size: xxx-large;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: rgb(0, 0, 43);
    font-family: 'Quicksand', sans-serif;
}
h3{
    color: darkslategrey;
    font-family: 'Quicksand', sans-serif;
}
strong{
    color:darkred;
}
em{
    font-style: oblique;
}
ol{
    font-family: 'Quicksand', sans-serif;
    color: darkslategrey;
}
ul{
    font-family: 'Lora', serif;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }
.button{
    background-color: orange;
    border-radius: 5px;
    border: none;
    color: black;
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 3px 3px 3px grey;
}
a:link{
    text-decoration: none;
}
a.button:hover{
    font-size: 105%;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: blueviolet;
}
a.button:active{
    background-color:forestgreen;
}
a:active{
    color: gold;
}
/*estos comandos afectan a la forma de las tarjetas*/
.encabezado{
    height: auto;
    background-color: orangered;
    justify-content: center;
    padding: 20px;
    margin-top: 0;
    width: 100%;
}
.tit-encabezado{
    margin: auto;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.card{
    background-color:azure ;
    box-shadow: 0px 0px 15px gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    align-items: center;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
dt{
    font-weight: bold;
}