body{
    font-family: 'Lora', serif;
}
h1{
    color:ghostwhite;
    background-color:orangered;
    font-family: 'Unbounded', cursive;
    text-align: center;
    font-size: xxx-large;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: rgb(0, 0, 43);
    font-family: 'Quicksand', sans-serif;
}
h3{
    color: darkslategrey;
    font-family: 'Quicksand', sans-serif;
}
strong{
    color:darkred;
}
em{
    font-style: oblique;
}
ol{
    font-family: 'Quicksand', sans-serif;
    color: darkslategrey;
}
ul{
    font-family: 'Lora', serif;
}
button{
    background-color: orange;
    border-radius: 5px;
    color: black;
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    margin-top: 20px;
    margin-left: 290px;
    border-color: navajowhite;
    box-shadow: 3px 3px 3px grey;
    border-style: none;
}
/*estos comandos afectan a la forma de las tarjetas*/
.container{
max-width: 900px;
margin: auto;
padding: 30px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
}
.card{
background-color:azure ;
box-shadow: 0px 0px 15px gray;
border-radius: 10px;
padding: 20px;
margin-top: 40px;
}
img{
width: 100%;
height: auto;
margin-bottom: 20px;
}